.top {
  padding-top: 2rem;
  padding-bottom: 12rem;
  margin-top: 5.8rem;
  background: #282d53;
  z-index: 999;
  position: relative;
}

.button_send_to {
  padding: .4rem 1rem;
  margin-left: auto;

  display: flex;
  gap: 1rem;
  place-items: center;

  background: none;
  border: none;

  color: white;
}
.button_span {
  width: 20rem;
  display: block;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}
.img_send_to {
  display: block;
  object-fit: cover;
}
.img_send_to_arrow {
  display: block;
  object-fit: cover;
}
