.floating_button {
  width: 4rem;
  height: 4rem;
  padding: .8rem .4rem .4rem;

  z-index: 1000;
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  background: white;
  border-radius: 100%;
  box-shadow: 0 .6rem 1rem #00000040;

  display: grid;
  place-items: center;
}
.floating_button > img {
  width: 100%;
  object-fit: cover;
}
